/* ADBAR */
.ad-bar {
  background-color: #9f8351;
  color: #ffffff;
  font-size: 12px;
  text-align: center;
  position: fixed;
  width: 100%;
  z-index: 2;
  top: 0%;
}

.ad-text {
  margin: 0;
}

/* NAVBAR STYLES */
.navbar {
  margin-top: 18px;
  background-color: #000000;
}

.navbar-toggler {
  border-color: rgba(0, 0, 0, 0);
}

.navbar-brand {
  top: 50%;
  left: 50%;
  color: #faf7f7;
}

.brand {
  height: 35px;
  width: 90px;
}

.shop-cart {
  color: #f8f5f5;
}

.list-offcanvas {
  background-color: rgba(0, 0, 0, 0);
  border-color: rgba(0, 0, 0, 0);
  color: #ffffff;
  font-family: "Montserrat", sans-serif;
}
.list-offcanvas:hover {
  background-color: var(--bs-body-color);
  color: #ffffff;
  text-decoration: underline;
}

.offcanvas-brand {
  height: 19px;
  width: 50px;
  margin-left: 15px;
  margin-top: 7px;
}

/* GENERAL INDEX STYLES */
.bg-img {
  background-color: black;
}

/* IMG Y BRAND - INICIO*/
.img-fluid {
  width: 100%;
  padding-top: 79px;
  opacity: 0.6;
  transition: transform 0.5s ease-in-out;
}

.brand-img {
  position: absolute;
  top: 50%;
  left: 50%;
  transform: translate(-50%, -50%);
  z-index: 1;
}

/* TITULOS */
.section-titles {
  font-family: "Montserrat", sans-serif;
  font-weight: 900;
  font-size: 20px;
  margin-left: 76px;
  margin-bottom: 15px;
}

/* FOOTER */
.footer {
  background-color: #bd9b62;
}

.footer-hover:hover {
  background-color: #bd9b62;
}

.copyright {
  font-family: "Monserrat", sans-serif;
  color: #ffffff;
  padding-bottom: 7px;
  font-size: 12px;
  text-align: center;
}

/* GENERAL STYLES CARDS */
.card {
  transition: transform 0.3s ease;
  opacity: 1;
}
.card:hover {
  transform: scale(1.05);
  opacity: 0.7;
}

.card-title {
  font-family: "Monserrat", sans-serif;
  font-weight: 600;
  margin-top: 40px;
  color: white;
  text-shadow: 2px 2px 4px #000000;
}

.card-text {
  font-family: "Monserrat", sans-serif;
  color: white;
  text-shadow: 2px 2px 4px #000000;
  font-weight: 600;
}

/* GENERAL IMG CARDS STYLES */
/* SALE */
.campera-tnf-hombre {
  background-image: url(../assets/campera-tnf-hombre.jpg);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.campera-tnf-mujer {
  background-image: url(../assets/campera-tnf-mujer.jpg);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.campera-corderoy-mujer {
  background-image: url(../assets/campera-kk-mujer.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.campera-corderoy-hombre {
  background-image: url(../assets/campera-kk-hombre.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

/* SPRING/SUMMER 2023/24 SEASON*/
.camisa-kotk {
  background-image: url(../assets/camisa-kk.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.bermuda-kotk {
  background-image: url(../assets/bermuda-kk.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.catsuit {
  background-image: url(../assets/catsuit.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.pantalon-para-tiendas {
  background-image: url(../assets/pantalon-para-tiendas.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

/* ACCESORIOS */
.collar-osito {
  background-image: url(../assets/collar-osito.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.cap-rosa {
  background-image: url(../assets/gorra-rosa.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.medias {
  background-image: url(../assets/medias.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.piluso {
  background-image: url(../assets/piluso.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

/* ZAPATILLAS */
.zapas-47 {
  background-image: url(../assets/zapas-rosas.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 150px;
  align-self: center;
}

.zapas-adidas {
  background-image: url(../assets/zapas-adidas.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 200px;
  align-self: center;
}

.zapas-nike {
  background-image: url(../assets/zapas-nike.jpeg);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 200px;
  align-self: center;
}

.zapas-converse {
  background-image: url(../assets/zapas-converse.webp);
  background-position: center center;
  background-size: cover;
  height: 220px;
  width: 230px;
  align-self: center;
}

/* ESTILOS DE LA PAGE PRODCUTOS */
.productos-margintop {
  margin-top: 100px;
  margin-bottom: 8px;
}

/*# sourceMappingURL=main.css.map */
