/* ADBAR */
.ad-bar {
    background-color: #9f8351;
    color: #ffffff;
    font-size: 12px;
    text-align: center;
    position: fixed;
    width: 100%;
    z-index: 2;
}
.ad-text {
    margin: 0;
}