/* GENERAL INDEX STYLES */
.bg-img {
    background-color: black;
}
/* IMG Y BRAND - INICIO*/
.img-fluid {
    width: 100%;
    padding-top: 79px;
    opacity: 0.6;
    transition: transform 0.5s ease-in-out;
}
.brand-img {
    position: absolute;
    top: 50%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 1;
}
/* TITULOS */
.section-titles {
    font-family: 'Montserrat', sans-serif;
    font-weight: 900;
    font-size: 20px;
    margin-left: 76px;
    margin-bottom: 15px;
}
/* FOOTER */
.footer {
    background-color: #bd9b62;
}
.footer-hover {
    &:hover {
        background-color: #bd9b62;
    }
}
.copyright {
    font-family: 'Monserrat', sans-serif;
    color: #ffffff;
    padding-bottom: 7px;
    font-size: 12px;
    text-align: center;
}